<md-card md-whiteframe="5">
	<md-card-title class="md-headline layout-align-center">
		My playlist
	</md-card-title>
	<md-card-header class="playlist-controls">
		<span ng-if="!ctrl.isPlaying"><img ng-src="images/bigPlay.png" ng-click="ctrl.controls.play()" alt="Play" /></span>
		<span ng-if="ctrl.isPlaying"><img ng-src="images/bigPause.png" ng-click="ctrl.controls.pause()" alt="Pause" /></span>
		<span><img ng-src="images/bigStop.png" ng-click="ctrl.controls.stop()" alt="Stop"/></span>

		<span><img ng-src="images/bigPrev.png" ng-click="ctrl.controls.prev()" alt="Prev"/></span>
		<span><img ng-src="images/bigNext.png" ng-click="ctrl.controls.next()" alt="Next"/></span>

		<span><img ng-src="images/bigMinus.png" ng-click="ctrl.controls.decreaseVolume()" alt="Pause"/></span>
		<span><img ng-src="images/bigPlus.png" ng-click="ctrl.controls.increaseVolume()" alt="Stop"/></span>
	</md-card-header>
	<md-divider></md-divider>
	<md-card-content class="playlist">
		<md-list>
			<md-list-item ng-repeat="item in ctrl.list">
				<audio-track
					ng-class="{active: item.config.active}"
					file="item"
					on-remove="ctrl.remove(index)"
					index="$index"
				></audio-track>
			</md-list-item>
		</md-list>
	</md-card-content>
</md-card>