<md-card md-whiteframe="5">
	<md-card-title class="md-headline layout-align-center">
		My playlist
	</md-card-title>
	<md-card-header class="playlist-controls layout-align-center">
		<i ng-if="!ctrl.isPlaying" ng-click="ctrl.controls.play()" class="material-icons">
			play_circle_outline
		</i>
		<i ng-if="ctrl.isPlaying" ng-click="ctrl.controls.pause()" class="material-icons">
			pause_circle_outline
		</i>
		<i ng-click="ctrl.controls.stop()" class="material-icons">
			stop
		</i>
		<i ng-click="ctrl.controls.prev()" class="material-icons">
			skip_previous
		</i>
		<i ng-click="ctrl.controls.next()" class="material-icons">
			skip_next
		</i>
		<i ng-click="ctrl.controls.decreaseVolume()" class="material-icons">
			volume_down
		</i>
		<i ng-click="ctrl.controls.increaseVolume()" class="material-icons">
			volume_up
		</i>
	</md-card-header>
	<md-divider></md-divider>
	<md-card-content class="playlist">
		<md-list>
			<md-list-item ng-repeat="item in ctrl.list">
				<audio-track
					ng-class="{active: item.config.active}"
					file="item"
					on-remove="ctrl.remove(index)"
					index="$index"
				></audio-track>
			</md-list-item>
		</md-list>
	</md-card-content>
</md-card>