<audio buffered>
	<source ng-src="{{ ctrl.file.url }}" type="audio/ogg">
	<source ng-src="{{ ctrl.file.url }}" type="audio/mpeg">
	Your browser does not support the audio tag.
</audio>

<md-slider-container class="trackTime">
	<div class="controls">
		<span>
			<img ng-src="images/play.png" ng-click="ctrl.controls.play()" alt="Play" ng-if="!ctrl.settings.isPlaying"/>
		</span>
		<span>
			<img ng-src="images/pause.png" ng-click="ctrl.controls.pause()" alt="Pause" ng-if="ctrl.settings.isPlaying"/>
		</span>
		<span>
			<img ng-src="images/stop.png" ng-click="ctrl.controls.stop()" alt="Stop" />
		</span>
		<span class="currentTime">
			{{ ctrl.settings.currentTimeString }} / {{ ctrl.settings.durationString }}
		</span>
	</div>
	<md-slider flex
		ng-model="ctrl.settings.currentTime"
		min="0"
		max="{{ ctrl.settings.duration }}"
		aria-label="time"
		ng-mousedown="ctrl.handleMouseDown()"
		ng-mouseup="ctrl.controls.setTime()"
	>
	</md-slider>
	<div class="controls">
		<span>
			<img ng-src="images/remove.png" ng-click="ctrl.remove()" alt="Remove audio"/>
		</span>
	</div>
</md-slider-container>

<md-slider-container class="short layout-align-start" >
	<span>Speed</span>
	<md-slider flex
		ng-model="ctrl.settings.currentSpeed"
		min="0.5"
		max="1.5"
		step="0.01"
		aria-label="speed"
		class="md-accent"
		ng-mouseup="ctrl.controls.setSpeed()"
	>
	</md-slider>
	<span>x{{ ctrl.settings.currentSpeed | number: 1 }}</span>
</md-slider-container>

<md-slider-container class="short">
	<span>Volume</span>
	<md-slider flex
		ng-model="ctrl.settings.currentVolume"
		min="0"
		max="1"
		step="0.01"
		aria-label="speed"
		class="md-accent"
		ng-mouseup="ctrl.controls.setVolume()"
	>
	</md-slider>
	<span>{{ ctrl.settings.currentVolumePercentage | number: 0 }}%</span>
</md-slider-container>

<md-divider></md-divider>
