<audio buffered>
	<source ng-src="{{ ctrl.file.url }}" type="audio/ogg">
	<source ng-src="{{ ctrl.file.url }}" type="audio/mpeg">
	Your browser does not support the audio tag.
</audio>

<md-slider-container class="trackTime">
	<div class="controls">
		<i ng-if="!ctrl.settings.isPlaying" ng-click="ctrl.controls.play()" class="material-icons">
			play_circle_outline
		</i>
		<i ng-if="ctrl.settings.isPlaying" ng-click="ctrl.controls.pause()" class="material-icons">
			pause_circle_outline
		</i>
		<i ng-click="ctrl.controls.stop()" class="material-icons">
			stop
		</i>
		<i ng-click="ctrl.controls.prev()" class="material-icons">
			skip_previous
		</i>
		<i ng-click="ctrl.controls.next()" class="material-icons">
			skip_next
		</i>
		<i class="currentTime">
			{{ ctrl.settings.currentTimeString }} / {{ ctrl.settings.durationString }}
		</i>
	</div>
	<md-slider flex
		ng-model="ctrl.settings.currentTime"
		min="0"
		max="{{ ctrl.settings.duration }}"
		aria-label="time"
		ng-mousedown="ctrl.handleMouseDown()"
		ng-mouseup="ctrl.controls.setTime()"
	>
	</md-slider>
	<div class="controls">
		<i class="material-icons" ng-click="ctrl.remove()">close</i>
	</div>
</md-slider-container>

<md-slider-container class="short layout-align-start" >
	<span>Speed</span>
	<md-slider flex
		ng-model="ctrl.settings.currentSpeed"
		min="0.5"
		max="1.5"
		step="0.01"
		aria-label="speed"
		class="md-accent"
		ng-mouseup="ctrl.controls.setSpeed()"
	>
	</md-slider>
	<span>x{{ ctrl.settings.currentSpeed | number: 1 }}</span>
</md-slider-container>

<md-slider-container class="short">
	<span>Volume</span>
	<md-slider flex
		ng-model="ctrl.settings.currentVolume"
		min="0"
		max="1"
		step="0.01"
		aria-label="speed"
		class="md-accent"
		ng-mouseup="ctrl.controls.setVolume()"
	>
	</md-slider>
	<span>{{ ctrl.settings.currentVolumePercentage | number: 0 }}%</span>
</md-slider-container>

<md-divider></md-divider>
